@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-arial: Arial, Helvetica, sans-serif;
  --font-chiller: "Chiller", cursive;
    --font-baloo: "Baloo 2", cursive;
}
